
*.dll
*.xml
*.lock
*.ide
.vs/PUBG.NET/v15/.suo
*.config
*.ide-shm
*.ide-wal
*.props
*.targets
packages/MSTest.TestAdapter.1.2.0/MSTest.TestAdapter.1.2.0.nupkg
*.nupkg
*.cache
src/PUBG.NET.Core/obj/xdoc/cache/final/-316328394
*.kwf
*.ltq
*.hmy
*.5os
*.dv5
src/PUBG.NET.Core/obj/xdoc/cache/obj/.inter
packages/Newtonsoft.Json.11.0.2/LICENSE.md
src/PUBG.NET.Core/obj/Debug/netcoreapp2.0/PUBG.NET.Core.AssemblyInfo.cs
src/PUBG.NET.Core/obj/Release/netcoreapp2.0/PUBG.NET.Core.AssemblyInfo.cs
src/PUBG.NET.Telemetry/obj/Debug/netcoreapp2.0/PUBG.NET.Telemetry.AssemblyInfo.cs
src/PUBG.NET.Telemetry/obj/Release/netcoreapp2.0/PUBG.NET.Telemetry.AssemblyInfo.cs
src/PUBG.NET.Telemetry/obj/project.assets.json
src/PUBG.NET.Telemetry/obj/xdoc/cache/obj/.inter
src/PUBG.NET.Telemetry/obj/xdoc/cache/obj/1omturdh.p1x
src/PUBG.NET.Telemetry/obj/xdoc/cache/obj/bg2rv2gn.pyv
src/PUBG.NET.Telemetry/obj/xdoc/cache/obj/fnkqx0nq.0jg
*.ijg
src/PUBG.NET.Telemetry/obj/xdoc/cache/obj/yo0qmkff.nbq
src/PUBG.NET/.vs/PUBGLibrary/v15/.suo
src/PUBG.NET/log.txt
